@using GDBank.Models.Card
@model List<ICardModel>

<main class="flex-shrink-0">
    <h2>Profile</h2>
    <h3>Your debit cards</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Card #</th>
                <th scope="col">Type</th>
                <th scope="col">Balance</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if(item.CardType == "Debit")
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.AccountType</td>
                        <td>@item.Balance</td>
                        <td><a href="@Url.Action("DeleteCard", "Account", new BaseModel { Id = item.Id })">Delete</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <h3>Your credit cards</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Card #</th>
                <th scope="col">Type</th>
                <th scope="col">Balance</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.CardType == "Credit")
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.AccountType</td>
                        <td>@item.Balance</td>
                        <td><a href="@Url.Action("DeleteCard", "Account", new BaseModel { Id = item.Id })">Delete</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <p>@ViewBag.Error</p>
    <a asp-controller="Account" asp-action="Logout">Logout</a>
</main>